body {

    color: #102542;
}

.main-page {
    margin-top: 82px;
}

h2 {
    color: #101010;
    padding: 0.4em;
    font-size: 2em;
}

.bg-blue {
    background-color: #102542;
}

.logo {
    display: flex;
    align-items: center;
}

.slogan {
    display: flex;
    flex-direction: column;
    line-height: 1px;
}

.logo img {
    width: auto;
    height: 56px;
}

.logo h3 {
    font-size: 22px;
    color: #FFF;

}

.logo p {
    font-size: 12px;
    color: #1CAAC3;
}

.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate img {
    width: auto;
    height: 300px;
}

.card-title a {
    color: #102542;
}

.btn-blue {
    color: #fff;
    background-color: #102542;
    border-color: #102542;
}

.button-select {

    margin-top:0.8em ;
}

.btn-blue {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background-color: #1CAAC3;
    border: solid #1CAAC3 1px;
}

.modifier {
    display: flex;
}

.modifier div {
    padding: 10px;
}

.profil-top {

    padding-top: 2.5em;
    padding-left: 8em;
    padding-bottom: 1em;
}

.profil-top img {
    border-radius: 50%;
}

.profil-item {
    padding: 1em;
}

.profil-description {
    padding-top: 0;
    padding-left: 8em;
    padding-bottom: 4em;
}

.profil-service {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    border: solid 1px #028090;
    border-radius: 5px;
}

.inscription-form {

    margin: 1% 20% 1% 20%;
}

.service-detail-gn {
    display: flex;
    justify-content: space-between;
}

.service-detail div {
    margin-bottom: 10px;
}

/* PAGE 404 */


.cadre{
    border: solid 10px midnightblue;
    padding: 50px;
}



.rating {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;

}

.rating span {
    font-size: 40px;
    display: inline-block;
    color: orangered;

}

.rating:hover span:before {
    content: '\2605';
    position: absolute;

}

.rating span:hover ~ span:before {
    content: '';
}


form {
    border: 1px grey solid;
    border-radius: 8px;
    padding: 60px 15px;
    margin-top: 150px;
    margin-bottom: 60px;
    background-color: #102542;
    color:white;
}

h1{
    text-align: center;
}

.notfound .notfound-404 h1 {
        font-size: 122px;
    }
}

