body {

    color: #102542;
}

.main-page {
    margin-top: 82px;
}

h2 {
    color: #101010;
    padding: 0.4em;
    font-size: 2em;
}

.bg-blue {
    background-color: #102542;
}

.logo {
    display: flex;
    align-items: center;
}

.slogan {
    display: flex;
    flex-direction: column;
    line-height: 1px;
}

.logo img {
    width: auto;
    height: 56px;
}

.logo h3 {
    font-size: 22px;
    color: #FFF;

}

.logo p {
    font-size: 12px;
    color: #1CAAC3;
}

.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate img {
    width: auto;
    height: 300px;
}

.card-title a {
    color: #102542;
}

.btn-blue {
    color: #fff;
    background-color: #102542;
    border-color: #102542;
}

.button-select {
    margin-top: 10px;
}

.btn-blue {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background-color: #1CAAC3;
    border: solid #1CAAC3 1px;
}

.modifier {
    display: flex;
}

.modifier div {
    padding: 10px;
}

.profil-top {

    padding-top: 2.5em;
    padding-left: 8em;
    padding-bottom: 1em;
}

.profil-top img {
    border-radius: 50%;
}

.profil-item {
    padding: 1em;
}

.profil-description {
    padding-top: 0;
    padding-left: 8em;
    padding-bottom: 4em;
}

.profil-service {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    border: solid 1px #028090;
    border-radius: 5px;
}

.inscription-form {

    margin: 1% 20% 1% 20%;
}

.service-detail-gn {
    display: flex;
    justify-content: space-between;
}

.service-detail div {
    margin-bottom: 10px;
}

/* PAGE 404 */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #222;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 158px;
    line-height: 153px;
}

.notfound .notfound-404 h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
    text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfound p {
    font-family: 'Josefin Sans', sans-serif;
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
}

.notfound a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: #c9c9c9;
    border: 2px solid #c9c9c9;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: #ffab00;
    border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

    .notfound .notfound-404 h1 {
        font-size: 122px;
    }
}
