{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div class="container">

        <div class="row profil-top">
            <div class="profil-item">
                <img src="http://placebacon.net/200/200">
                <h2>Francis Bacon</h2>
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <div>

                    <div>
                        Modifier
                    </div>
                    <div>Supprimer</div>
                </div>
            </div>


            <div class="profil-item profil-service">
                <h2>Services proposés</h2>
                <ul>
                    <li>Jardinage</li>
                    <li>Bricolage</li>
                    <li>Enseignement</li>
                    <li>Entretien</li>
                </ul>
            </div>
        </div>
        <div class="profil-description">
            <h2>Description</h2>
            <p>blablablablablablabla</p>
        </div>
    </div>

{% endblock %}
