{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div >

        <div class="profil-top">
            <img src="http://placebacon.net/400/300">
            <h2>Francis Bacon</h2>
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            <div>

                <div>
                    Modifier
                </div>
                <div>Supprimer</div>
            </div>
        </div>
    </div>

    <div>
        <h2>Services proposés</h2>
        <ul>
            <li>Jardinage</li>
            <li>Bricolage</li>
            <li>Enseignement</li>
            <li>Entretien</li>
        </ul>
    </div>
    <div>
        <h2>Description</h2>
        <p>blablablablablablabla</p>
    </div>

{% endblock %}
