{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div class="container main-page">

        <div class="row profil-top">
            <div class="profil-item">
                <div class="rate">
                <img src="/assets/images/users/1.jpg" alt="Laure">
                <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                <small class="text-muted rate">&#9733; &#9733; &#9733; &#9733; &#9734;</small>

                <div class="modifier">
                    <div class="">
                        Modifier
                    </div>
                    <div>Supprimer</div>
                </div>
                </div>
            </div>

            <div class="profil-item profil-service">
                <h2>Services proposés</h2>
                <ul>
                    <li>Garde d'animaux</li>
                    <li>Jardinage</li>
                </ul>
            </div>
        </div>

        <div class="profil-description">
            <h2>Description</h2>
            <p>{{ user.description }}</p>
        </div>
    </div>

{% endblock %}
