{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/stylemember.css">
{% endblock %}

{% block title %}Page membre{% endblock %}

    {% block content %}

    <div class="container main-page" id="body">
        <div class="row">
            <div class="col">

    <h2> Mon compte </h2>


             <div class="header">
                <div class="row">
                    <div class="col">

                <img src="/assets/images/users/1.jpg" class="rounded-circle" alt="User pic">

                        <form class="bloctext">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Qui suis-je ? </label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </form>

                <div class="rate">
                    <p>Note des utilisateurs</p>
                    <large class="text-muted rate">&#9733; &#9733; &#9733; &#9733; &#9734;</large>
                </div>
            </div>
                </div>
                    </div>

            <div class = "infos">
                <div class="row">
                    <div class="col">

                <h2> Mes informations personnelles</h2>


            <form class="form-row" action="/action_page.php">
                <div class="col">
                    <label for="email" class="mr-sm-2">Identifiant (mail):</label>
                        <input type="email" class="form-control mb-2 mr-sm-2" id="email" placeholder="{{ user.email }}">
                </div>

                <div class="col">
                    <label for="pwd" class="mr-sm-2">Mot de passe:</label>
                        <input type="password" class="form-control mb-2 mr-sm-2" id="pwd" placeholder="{{ user.password }}">
                </div>
                    <div class="row">
                    <div class="col">
                <label for="lastname" class="mr-sm-2">NOM:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="lastname">
                    </div>
                        <div class="col">
                <label for="firstname" class="mr-sm-2">Prénom:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="firstname">
                        </div>
                            <div class="col">
                <label for="city" class="mr-sm-2">Ville:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="city">
                            </div>
                                <div class="col">
                <label for="tel" class="mr-sm-2">Telephone:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="tel">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1">Mon numéro de téléphone est visible par les membres</label>
                                    </div>
                                </div>
                                <div class="col">
                <label for="distance" class="mr-sm-2">Rayon de déplacement:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="distance">
                                </div>
                    </div>
            </form>
                    </div>
                </div>
            </div>

            <h2> Je propose:</h2>

        <div class = "services">
            <div class="row">
                {% for service in services %}
                <div class="col-4">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                        <input type="checkbox">
                            </div>
                        </div>
                            <input type="text" class="form-control" placeholder="{{ service.label }}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    <div class = boutons">
        <div class="row">
            <div class="col-5">
                
                <button type="button" class="btn btn-primary btn-block">Enregistrer</button>
                <a href="/member/delete/{{ user.id }}"><button type="button" class="btn btn-primary btn-block">Supprimer mon compte</button></a>
            </div>
        </div>
    </div>


    {% endblock %}